# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# Keep lockfile for reproducible CI builds
# pubspec.lock
# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
**/android/**/local.properties
**/android/.gradle/
**/android/captures/
**/android/key.properties
*.jks

# Windows
**/windows/flutter/ephemeral/
